<div class="header">
  <h1>Bouw je eigen chatbot</h1>
</div>

<div class="container-center">
  <mat-card class="verslag">
    <mat-card-content>
      <div>
        <p>
          Op 3 april hield Yappa een seminarie in hun kantoren. Het seminarie ging over een chatbot genaamd Piño. Deze
          werd gecreëerd in 2017. Het was een stageproject van een aantal stagiaires, zelfs een paar PXL-studenten
          hebben aan dit project meegewerkt. Eerst werd er uitleg gegeven over het bedrijf zelf, daarna kregen we de
          kans om onze eigen chatbot te maken.
          Yappa is een bedrijf met ongeveer 27 mensen, ze helpen andere bedrijven om digitaal te kunnen groeien. Ze
          maken websites, applicaties en tools op maat voor elke klant. De noden van de klant staan dus centraal bij elk
          project. Bovendien gaan de ontwikkelaars soms in het bedrijf van de klant aan het project werken. Hierdoor
          groeit de band en kunnen ze ook direct vragen stellen.
        </p>
        <p>
          Een chatbot zoals Piño zorgt ervoor dat meerdere applicaties gebundeld worden. Je kan dus via Slack aan Piño
          vragen welke tickets je nog moet afwerken (Jira), welke afspraken je vandaag in jouw planning hebt staan
          (Google Calendar) en bestanden downloaden (Google Drive). Het is niet meer nodig om elke applicatie
          afzonderlijk te openen, je kan simpelweg een gesprek met de chatbot starten om toegang tot alle applicaties te
          hebben.
          Om onze eigen chatbot te maken, moest er eerst een skelet gedownload worden. De meeste mensen hadden problemen
          met hun programma te installeren, waardoor ze niet aan het project konden beginnen. Ik had geen problemen en
          kon de chatbot programmeren. Na het lezen van de BotMan-documentatie is het me gelukt om een drietal functies
          toe te voegen. De eerste functie zorgt ervoor dat de gebruiker met een GIF-bestand begroet wordt. Deze functie
          is een service met naam HelloMessageHandler.
        </p>
        <p>
          Voor elk type commando wordt er een bijhorende klasse aangemaakt die dit commando zal afhandelen. Om op een
          verwelkoming van de gebruiker te antwoorden, is er de HelloMessageHandler. Deze kan meerdere antwoorden
          bevatten zodat er telkens een andere response verstuurd wordt naar de gebruiker. Dit zorgt ervoor dat de
          chatbot menselijker lijkt en niet telkens in eenzelfde patroon reageert.
          De tweede functie is de MemeMessageHandler. Het is een functie die met het commando “^^meme” telkens een
          willekeurige meme naar de gebruiker zal sturen. In de realiteit zitten al deze afbeeldingen in een database of
          externe API die aangesproken wordt, maar door tijdsgebrek was dit niet mogelijk. De laatste klasse die ik wou
          implementeren noemt JokeMessageHandler. Het is een klasse die verbinding maakt met een externe API. Deze API
          weergeeft bij elke aanvraag een willekeurige grap. Deze grap zou dan met het commando “^^joke” weergeven
          worden.
        </p>
        <div class="container-center">
          <label class="caption">Klik op de foto's om deze te bekijken</label>
        </div>
        <div class="container-center">
          <img class="photo" (click)="showImage('assets/verslagen/yappa1.png')" src="assets/verslagen/yappa1.png">
          <img class="photo" (click)="showImage('assets/verslagen/yappa2.png')" src="assets/verslagen/yappa2.png">
          <img class="photo" (click)="showImage('assets/verslagen/yappa3.png')" src="assets/verslagen/yappa3.png">
        </div>
        <p>
          Ten slotte is er de action function. Deze zorgt ervoor dat de bot gaat herhalen welke actie je wil doen. Het
          is op zich niet echt een nuttige implementatie, maar het toont aan dat er op meerdere zinnen dezelfde response
          teruggestuurd kan worden. Zo is er slechts één functie nodig die alle aanvragen met een bepaalde expressie zal
          behandelen. Een nuttige implementatie in de realiteit kan zijn dat wanneer de chatbot de gebruiker niet
          begrijpt, deze een deel van die zin terugstuurt om meer informatie te vragen.
          Het was een zeer interessant seminarie. Het verbaasde me dat het me zo snel lukte om mijn eigen functies te
          implementeren. Waarschijnlijk komt dit omdat de code van het BotMan-framework redelijk leesbaar is opgebouwd
          en ik direct kon starten met programmeren. De documentatie van het framework was ook zeer duidelijk waardoor
          mijn vragen direct beantwoord werden. Voor de JokeMessageHandler vroeg ik hulp aan een ontwikkelaar van Yappa.
          Samen zochten we naar bruikbare code die de API-response kon ontvangen en weergeven. Helaas was er te weinig
          tijd om deze functie werkend te krijgen.
        </p>
        <p>
          Ik ben nooit een fan geweest van PHP, maar libraries zoals BotMan zorgen ervoor dat bepaalde functionaliteiten
          met PHP maken makkelijker is. Naast het leren werken met BotMan, heb ik ook bijgeleerd over de
          programmeertaal. Het verbaasde me dat ze de voordelen van de taal toonden zonder de nadelen te verbergen. Het
          leukste gedeelte was om samen met de andere ontwikkelaar uit te zoeken hoe we de JokeMessageHandler konden
          bouwen. We probeerden een request te sturen naar een externe API, die telkens een willekeurige grap
          terugstuurde naar de backend.
          Het seminarie past in mijn portfolio omdat we zelf creatief bezig mochten zijn. Dit is niet altijd
          vanzelfsprekend bij seminaries in Toegepaste Informatica doordat er vaak uitgewerkte opdrachten gegeven
          worden. De functie en implementatie van deze chatbot werd volledig aan de studenten overgelaten. Aangezien ik
          graag humor hoor, vond ik het interessant om dit te verwerken in de bot. Hierdoor was ik gemotiveerd om deze
          werkend te krijgen en verschillende soorten handlers uit te proberen.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
