<div class="header">
    <h1>Al mijn I-Talent-activiteiten</h1>
</div>

<div class="container-center">
    <div class="wrap">
        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Digital@Breakfast: Facebook en ik
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    22/05/2019 - 2u
                </div>
                <div class="wrap-element-section">
                    PXL Congress – Tim Verheyden
                </div>
                <div class="wrap-element-section">
                    Seminaries – Wat zijn de gevaren van sociale media en hoe zit het met onze privacy?
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    My First Datacenter
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    15/05/2019 - 3u
                </div>
                <div class="wrap-element-section">
                    PXL - Axxes
                </div>
                <div class="wrap-element-section">
                    Seminaries – Hoe bouwen we ons eigen minidatacenter?
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Performancegericht programmeren en testen
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    08/05/2019 - 2u
                </div>
                <div class="wrap-element-section">
                    PXL - CTG
                </div>
                <div class="wrap-element-section">
                    Seminaries – Hoe programmeren en testen we een efficiënte applicatie
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Mobile development op iOS en Android
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    24/04/2019 - 4u
                </div>
                <div class="wrap-element-section">
                    PXL – AppFoundry
                </div>
                <div class="wrap-element-section">
                    Seminaries – Mobiele applicaties ontwikkelen op Android en iOS
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    <a [routerLink]="['/activiteiten/busitdenemarken']" routerLinkActive="router-link-active">Internationale BusIT-week</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    7/04/2019 – 12/04/2019 (30u)
                </div>
                <div class="wrap-element-section">
                    Denemarken, Kolding, IBA
                </div>
                <div class="wrap-element-section">
                    Internationalisering – In een multicultureel team een oplossing bouwen voor een Deense brouwer
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                  <a [routerLink]="['/activiteiten/yappa']" routerLinkActive="router-link-active">Bouw je eigen chatbot</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    3/04/2019 - 3u
                </div>
                <div class="wrap-element-section">
                    Kantoor Yappa in diepenbeek
                </div>
                <div class="wrap-element-section">
                    Seminaries – Eigen chatbot bouwen in de PHP-programmeertaal met het BotMan-framework
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                  <a [routerLink]="['/activiteiten/aca-it']" routerLinkActive="router-link-active">Test Driven Development in een agile werkomgeving</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    27/03/2019 - 3u
                </div>
                <div class="wrap-element-section">
                    Kantoor ACA IT-Solutions Hasselt
                </div>
                <div class="wrap-element-section">
                    Seminaries – Initieel werd er uitleg gegeven over TDD, waarna we zelf testen mochten schrijven voor
                    een
                    webapplicatie
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Wat is artificiële intelligentie wel en wat is het niet?
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    20/03/2019 - 3u
                </div>
                <div class="wrap-element-section">
                    PXL - Belfius
                </div>
                <div class="wrap-element-section">
                    Seminaries – Wanneer gebruiken we best AI en wanneer niet?
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Design sprints
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    06/03/2019 - 4u
                </div>
                <div class="wrap-element-section">
                    PXL - Craftworkz
                </div>
                <div class="wrap-element-section">
                    Seminaries – De fases van een design sprint en een prototype ontwikkelen
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Digital@Breakfast: Droneport
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    20/02/2019 - 2u
                </div>
                <div class="wrap-element-section">
                    PXL - Droneport
                </div>
                <div class="wrap-element-section">
                    Seminaries – De toekomst van drones in het dagelijkse leven en uitleg over Droneport zelf
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Projectweek 2de jaar
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    11/02/2019 – 15-02/2019 (26u)
                </div>
                <div class="wrap-element-section">
                    PXL
                </div>
                <div class="wrap-element-section">
                    Persoonlijke ontwikkeling – Start van het researchproject
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                  <a [routerLink]="['/activiteiten/sint-oda']" routerLinkActive="router-link-active">Hackathon – Create special games for Sint-Oda</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    23/11/2019 - 10u
                </div>
                <div class="wrap-element-section">
                    Pelt – Sint-Oda
                </div>
                <div class="wrap-element-section">
                    Student Engagement – Speciaal afgestelde game maken voor een specifieke Sint-Oda bewoner met
                    bepaalde
                    beperkingen
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Care-athon – Create special games voor Sint-Oda
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    20/02/2020 – 21/02/2020 (26u)
                </div>
                <div class="wrap-element-section">
                    iSpace Corda – Sint-Oda en PXL
                </div>
                <div class="wrap-element-section">
                    Innovatie – Verder werken aan het prototype van de game gemaakt in de eerdere hackathon voor de
                    inwoners van
                    Sint-Oda
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Performance testing
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    6/11/2019 - 3u
                </div>
                <div class="wrap-element-section">
                    PXL – Quality@Speed
                </div>
                <div class="wrap-element-section">
                    Seminaries – Wat is performance testing en welke soorten zijn er? Sint-Oda
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Code retreat workshop
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    13/11/2019 - 3u
                </div>
                <div class="wrap-element-section">
                    PXL – Quality@Speed
                </div>
                <div class="wrap-element-section">
                    Seminaries – Schrijf het “perfecte” stukje code neer.
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                  <a [routerLink]="['/activiteiten/innovatieroute-AI']" routerLinkActive="router-link-active">Innovatieroute – Artificiële intelligentie</a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    25/09/2019, 26/09/2019 en 02/10/2019 (24u)
                </div>
                <div class="wrap-element-section">
                    iSpace Corda – BrainJar en ACA IT-Solutions
                </div>
                <div class="wrap-element-section">
                    Innovatie – Drie dagen een zelfgekozen innovatieroute volgen
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    POP-sessies
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    4/10/2019 - 10u
                </div>
                <div class="wrap-element-section">
                    PXL – Learning Path en PXL
                </div>
                <div class="wrap-element-section">
                    Persoonlijke ontwikkeling – Communicatie en samenwerking in een team verbeteren aan de hand van drie
                    POP-sessies
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    CoderDojo Hasselt
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    21/09/2019 - 4u
                </div>
                <div class="wrap-element-section">
                    iSpace Corda - PXL
                </div>
                <div class="wrap-element-section">
                    Student Engagement – Opzetten van alle computers en nodige software, hierna de kinderen helpen met
                    programmeren </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    Studiereis Berlijn
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    14/02/2020 – 18/02/2020 (30u)
                </div>
                <div class="wrap-element-section">
                    Duitsland, Berlijn
                </div>
                <div class="wrap-element-section">
                    Internationalisering – De belangrijkste monumenten in Berlijn bezoeken en de geschiedenis
                    herontdekken
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="wrap-element">
            <mat-card-header>
                <mat-card-title>
                    I-Talent portfolio
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="wrap-element-section">
                    De laatste twee academiejaren (20u)
                </div>
                <div class="wrap-element-section">
                    PXL
                </div>
                <div class="wrap-element-section">
                    Persoonlijke ontwikkeling – Invullen van iTalent-portfolio en reflecteren over de activiteiten van
                    de laatste
                    twee academiejaren
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="container-center">
            <mat-card-header>
                <mat-card-title>
                    Behaald aantal uren
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <table>
                        <tr>
                            <th>Internationalisering</th>
                            <th>Seminaries</th>
                            <th>Innovatie</th>
                            <th>Persoonlijke ontwikkeling</th>
                            <th>Student engagement</th>
                            <th>Totaal</th>
                        </tr>
                        <tr>
                            <td>60u</td>
                            <td>32u</td>
                            <td>50u</td>
                            <td>56u</td>
                            <td>14u</td>
                            <td>212u</td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
