<div class="header">
  <h1>BusIT-week Denemarken</h1>
</div>

<div class="container-center">
  <mat-card class="verslag">
    <mat-card-content>
      <div>
        <p>
          De busIT-week in Denemarken vond plaats tijdens de eerste week van de paasvakantie in 2019. De school die deze
          week organiseerde noemt IBA, wat staat voor International Business Academy. Na een korte vlucht kwamen we aan
          in Billund.
          Maandag kregen we naast uitleg over het project ook teambuildingactiviteiten. Ik zat in het team met twee
          Belgen en een Deen. De Deen is na twee dagen uitgevallen door ziekte. Het project dat we maakten was voor een
          bedrijf genaamd Frejdahl. Zij brouwen luxueuze bieren en verkopen deze in Denemarken. Het doel van het project
          was om het bedrijf te promoten waardoor er meer bier verkocht werd. Initieel werd er een synopsis geschreven
          met persona, business goals en ideeën.
        </p>

        <div class="container-center">
          <img class="photo" src="assets/verslagen/denemarken1.jpg" (click)="showImage('assets/verslagen/denemarken1.jpg')">
        </div>
        <p>
          Het bedrijf wil steeds de rode lijn behouden in hun producten. Elk bier is vernoemd naar een Viking, hierdoor
          heeft elk bier ook een achtergrondverhaal. We kwamen op het idee om een webapplicatie te maken die Frejdahl
          kan implementeren in hun bestaande website. De gebruiker kan aan de hand van een kleine quiz zijn matchende
          Viking vinden. Afhankelijk van de vragen wordt er een score opgebouwd die bij een bepaalde Viking, dus de
          gebruiker, past. De gematchte Viking is verbonden aan een bier dat aan die gebruiker aanbevolen wordt.
          Dinsdag kregen we feedback van de synopsis. Deze feedback was positief en de lectoren noemden het “the
          professional synopsis”. De tip die we kregen was om de quiz vooral rond de Viking te laten draaien en minder
          rond het bier. Dinsdag kregen we ook de kans om bier te proeven in een brouwerij genaamd The Troll. Namiddag
          werd er een rondleiding in Kolding gegeven. Ook ben ik dinsdag begonnen te programmeren aan de backend van de
          applicatie. Deze is gemaakt in Java. Na het maken van alle nodige klassen en methodes ben ik begonnen met de
          Vikings en de bieren aan te maken in onze applicatie.
        </p>
        <p>
          Op de derde dag gingen we naar Jelling, “The home of the Viking kings”. Op deze plaats zijn vroeger
          runenstenen gevonden. Deze stenen zijn speciaal omdat er in deze stenen voor de eerste keer gesproken werd
          over het land Denemarken. Na dit bezoek kregen we tijd om aan het project verder te werken. Doordat ik de
          vorige dagen na school aan de backend gewerkt had, was deze bijna klaar. De twee andere teamgenoten waren aan
          het werken aan de frontend.
          Donderdag kregen we de kans om het project af te werken. Ik moest het algoritme en het puntensysteem nog
          implementeren. Dit was een van de moeilijkste opdrachten. Er moest bepaald worden welke antwoorden welke
          punten geven en hoeveel punten elk bier waard is. Op papier heb ik het puntensysteem per vraag en antwoord
          uitgewerkt zodat de minimale en maximale score van de quiz tussen de score van het minimale en maximale bier
          vielen.
          Hierna moest het algoritme geschreven worden. Het algoritme zorgde ervoor dat elk bier gelinkt werd aan de
          score van de quiz. Na deze implementatie werd de frontend en backend samengevoegd tot een geheel. Uiteindelijk
          maakten we ook de poster en de PowerPoint voor de presentatie.
        </p>
        <div class="container-center">
          <img class="photo container-center" (click)="showImage('assets/verslagen/denemarken3.jpg')" src="assets/verslagen/denemarken3.jpg" style="width: 60%;">
        </div>
        <p>
          Op de vijfde en laatste dag van de projectweek moesten alle teams hun idee of prototype presenteren. Mijn team
          moest als eerste gaan. Onze demo verliep goed en de kritiek was grotendeels positief. De enige vraag die we
          kregen was of er een database achter de webapplicatie hing. Het was niet mogelijk om in zo’n korte tijd ook
          een database te maken en dit te programmeren in de applicatie.
          We waren één van de enige teams die een applicatie geprogrammeerd hadden. Andere teams presenteerden mock-ups
          of hun idee. Ik was zeer teleurgesteld dat we niet eens in de top drie eindigden. We waren een van de enige
          teams die een echt werkend prototype gecreëerd hadden. Het doel van deze week was nochtans om een werkend
          prototype af te leveren. De jury die de presentaties beoordeelden waren willekeurige lectoren van
          verschillende landen, er was niemand aanwezig van Frejdahl zelf.
        </p>
        <div class="container-center">
          <img class="photo" (click)="showImage('assets/verslagen/denemarken2.jpg')"  src="assets/verslagen/denemarken2.jpg">
        </div>
        <p>
          Ondanks het teleurstellende einde was het een leerrijke week. Het was leuk om in het Engels te communiceren en
          een prototype te maken in slechts een paar dagen. De moeilijkste opdracht was om het algoritme en het
          puntensysteem te programmeren. Het was me niet gelukt om de backend te programmeren als ik niet buiten de
          schooluren gewerkt had.
        </p>
        <p>
          Het project verliep goed en de communicatie was in orde. Ik had liever wat meer geleerd over de frontend. Mijn
          teamgenoten kenden meer over frontend en ik over backend, waardoor ik niet echt de kans kreeg om iets nieuw te
          leren. Het was toch leuk om mezelf uit te dagen om een volledige werkende backend te schrijven. Ik denk dat
          het een goede beslissing was om buiten de uren te programmeren omdat de gegeven momenten in school te weinig
          waren.
          Deze ervaring staat op de eerste plaats in mijn portfolio aangezien hij mijn X-factor op alle pijlers
          versterkt heeft. Door mijn passie voor technologie ben ik in een internationaal en multidisciplinair team een
          innovatief prototype gaan bouwen. Ik heb bewezen dat ik in staat ben om te functioneren in een ongekende
          omgeving met onbekende mensen. Daarnaast was ik volledig verantwoordelijk voor de logica en het spelverloop
          van de applicatie, wat aantoont dat het team beschikte over verschillende kwaliteiten die daarna gebundeld
          werden.
        </p>
        <div class="container-center">
          <label class="caption">Klik op de foto's om deze te bekijken</label>
        </div>
        <div class="container-center">
          <img class="photo" (click)="showImage('assets/verslagen/frejdahl-1.png')" src="assets/verslagen/frejdahl-1.png">
          <img class="photo" (click)="showImage('assets/verslagen/frejdahl-2.png')" src="assets/verslagen/frejdahl-2.png">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
