<div class="header">
  <h1>Hackathon & Care-athon: Create special games for Sint-Oda</h1>
</div>

<div class="container-center">
  <mat-card class="verslag">
    <mat-card-content>
      <div>
        <p>
          Op zaterdag 23 november organiseerde het Sint-Oda dienstencentrum in Pelt een hackathon. Het dienstencentrum
          heeft een groot gebied waar mensen met verstandelijke en motorieke beperkingen opgevangen en verzorgd worden.
          Volgens het personeel kwam er een frisse wind binnengewaaid wanneer er een nieuw diensthoofd gekozen werd.
          Deze persoon vindt innovatie belangrijk, waardoor uiteindelijk deze hackathon georganiseerd werd.
          De dag begon met meerdere presentaties. Sint-Oda presenteerde het algemene doel van de hackathon, namelijk het
          creëren van games die aangepast zijn aan de specifieke noden van de bewoners. Een vader van één van de
          bewoners
          vertelde dat hij nooit eerder in contact was gekomen met “deze wereld”, tot zijn zoontje plots stopte met
          ademen
          en hersenschade opliep. Hij zei dat hij veel respect had voor het personeel en de aanwezige mensen. Zelf
          probeerde hij via PowerPoint-presentaties zijn zoon visueel te prikkelen, zodat hij kon bepalen tot in welk
          mate
          zijn zoon visueel beperkt was.
        </p>
        <p>
          Ik zat samen in de groep met een ergotherapeute en twee andere programmeurs: Stef en Stijn Nelissen. Initieel
          stelde het team een klein plan van aanpak op voor onze case. Er moest een cross-platform applicatie gebouwd
          worden voor een jongen van zes jaar. Hij heeft een visuele beperking en een mentale leeftijd van ongeveer vier
          jaar. Hierna werd er met de hele groep nagedacht over de userinterface en werden er mock-ups getekend. Een op
          maat gemaakte userinterface voor onze case was de grootste prioriteit. Deze moet grote contrasten en
          duidelijke knoppen bevatten. Stijn begon te werken aan de Sqlite-database terwijl Stef en ikzelf
          programmeerden aan de userinterface en het spelverloop.
          Het spel kan vergeleken worden met een soort quiz. Na het horen van een woord, zoals kat, wordt er een
          variabel aantal afbeeldingen getoond. Na het aanduiden van de juiste afbeelding, wordt er een beloning
          gegeven. Omdat de jongen graag Bumbageluidjes hoorde, wordt de beloning hierop ingesteld. De applicatie werd
          zo generiek mogelijk gemaakt: het personeel kan zelf oefeningen aanmaken met hun eigen geluiden en
          afbeeldingen. Elke vraag, antwoord en beloningsgeluidje kon dus door de begeleiders zelf ingesteld worden
          afhankelijk van de persoon die het spel speelt.
        </p>
        <p>
          In februari werd er een vervolg van de hackathon georganiseerd. De studenten die zich eerder opgegeven hadden
          voor de hackathon moesten nu ook verder werken aan een opdracht van Sint-Oda. Samen met drie andere
          programmeurs werkten we aan een puzzelapplicatie. Deze applicatie had al een basis om op verder te
          programmeren waardoor we uiteindelijk een volledig werkende applicatie hadden. De gebruiker van de app wordt
          gemotiveerd omdat de foto’s van de puzzels treinen of zijn familie bevatten.
          Er zijn vier verschillende mogelijkheden ingebouwd die het aantal puzzelstukjes bepalen. Wanneer een
          puzzelstukje dicht bij de correcte locatie losgelaten wordt, schiet het stukje vanzelf op de juiste plaats.
          Dit is handig voor de gebruiker aangezien hij een motorische beperking heeft en handschoenen draagt. Bij het
          correct plaatsen van een stukje wordt een geluidje afgespeeld en bij het voltooien van de puzzel rijdt er een
          trein voorbij met de bijhorende audio. In het menu kan de begeleider de moeilijkheidsgraad van het spel
          kiezen. Daarnaast is het ook mogelijk om het klikgeluidje bij het correct plaatsen van een puzzelstukje uit te
          schakelen.
        </p>
        <p>
          Doordat de quizapplicatie bij de hackathon zowel op een iOS-device als op een Windows-computer moest draaien,
          werden we verplicht Xamarin Forms te gebruiken. In overleg met de andere programmeurs was het makkelijker om
          een webapplicatie in Angular te maken, maar de applicatie moest offline kunnen draaien. Toch hadden we beter
          Angular gepakt, omdat het uiteindelijk toch meer een proof of concept was dan een afgewerkt product. Het team
          ondervond veel problemen met Xamarin, zoals bij het gebruik van een Sqlite-database. Ons doel lag te veel bij
          het maken van een afgewerkte applicatie en geen proof of concept.
          Ondanks de verschillende problemen en de beperkte tijd, konden we toch een demo afleveren. In de demo toonden
          we de userinterface waar het personeel hun eigen oefeningen kan aanmaken, alsook de userinterface voor de
          gebruiker bij het maken van een vraag. Na het aanklikken van het juiste antwoord werd er een Bumbageluidje
          afgespeeld en werd Bumba getoond. Aangezien er teams waren zonder een werkende applicatie, waren we nog
          redelijk trots op wat we afgeleverd hadden na de vele problemen.
        </p>
        <p>
          Bij de care-athon was er een basis beschikbaar om op verder te programmeren. Deze was geschreven in Lua, een
          programmeertaal die ik niet kende. De app had één foto en rechthoekige puzzelstukjes. Na het evenement hadden
          we een volledig werkende app met meerdere foto’s, geluiden, beloningen en vier moeilijkheidsgraden gemaakt.
          Deze bevat ook een menu waarin bijna alles ingesteld kan worden door de begeleiders. Per moeilijkheidsgraad
          waren er ook meerdere filters beschikbaar, die ervoor zorgen dat elke puzzel steeds opgedeeld wordt in andere
          stukjes.
          Ik was trots op wat we bereikt hadden, aangezien drie van de vier programmeurs de programmeertaal niet kenden.
          De applicatie was voor 90% afgewerkt en klaar voor gebruik. Op het einde waren we teleurgesteld dat we niet
          geselecteerd waren voor de “finale”. Toch weet ik dat we blij mogen zijn met het resultaat, aangezien we met
          een onbekende taal een volledig werkend spel gemaakt hebben. We hebben steeds geprogrammeerd met de noden van
          de eindgebruiker in ons achterhoofd.
        </p>
        <p>
          Deze twee ervaringen passen in het I-Talent-plaatje aangezien we als team onze kennis gebruiken om andere
          mensen te helpen. Dit is iets dat ik als persoon graag doe en kracht uit kan putten. We hebben niet enkel een
          prototype gemaakt, maar een prototype en een volledig werkende applicatie afgeleverd.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
