<div class="header">
  <h1>Mijn eindreflectie</h1>
</div>

<div class="container-center">
  <mat-card class="verslag">
    <mat-card-content>
      <div>
        <p>
          Het belangrijkste doel dat ik voor ogen heb sinds het begin van de opleiding is om af te studeren. Aangezien
          ik
          totaal geen voorkennis had, dacht ik de eerste maanden dat ik het niet ging halen. Ik zag elk examen in de
          voorbije
          drie jaar als een doel op zich om uiteindelijk een groter geheel te kunnen afronden. Na de eerste
          examenperiode
          werd
          duidelijk dat ik geen moeite verspild had en gewoon zo verder moest blijven doen. Vanaf het begin heb ik
          steeds
          mijn
          uiterste best gedaan waardoor ik nu de kans heb om dit verhaal af te ronden. Sinds de eerste examenperiode heb
          ik
          mijn doel bijgesteld en wil ik met onderscheiding afstuderen.
          Doordat ik niet wilde falen en moest doorbijten, sta ik vandaag met meer zelfvertrouwen in mijn schoenen. Ik
          begon
          aan deze richting omdat ik altijd nieuwsgierig geweest ben naar hoe alles precies in elkaar zit. Toen ik klein
          was
          schroefde ik Playstation-consoles uit elkaar om te zien hoe deze precies werkten. Vandaag de dag leer ik nog
          steeds
          bij hoe deze computers werken, vooral op vlak van software. In deze sector is er altijd iets nieuws bij te
          leren
          waardoor de job interessant blijft.
        </p>
        <p>
          Naast de grote hoeveelheid theorie en praktische vaardigheden die ik bijgeleerd heb, denk ik dat mijn sterkte
          vooral
          ligt bij het uitproberen van nieuwe technologieën. Een informaticus werkt vaak met onbekende software en
          tools.
          Doorheen de opleiding heb ik exact hetzelfde moeten doen, waardoor dit leerproces nu sneller verloopt. Dit
          komt
          dus
          eigenlijk neer op het zogenaamde “leren leren”. Ook ontstaan er vaak problemen bij het uitproberen van nieuwe
          dingen, deze problemen vinden en oplossen gaat een stuk sneller dan in het begin.
          Als softwareontwikkelaar is het belangrijk om steeds innovatief bezig te zijn en zelf projecten te realiseren.
          Daarnaast probeer ik ook artikels te lezen over nieuwe softwaretools. Wanneer ik iets nodig heb dat ik niet
          direct
          vind op het internet, of als het betalend is, probeer ik mijn eigen soort applicatie te schrijven die ik kan
          gebruiken. Zo schreef ik vorig jaar een userinterface van een kleine app die, via een NuGet-package, audio van
          YouTube-video’s kan downloaden.
        </p>
        <p>
          Vanuit mijn passie voor technologie wil ik andere mensen blijven helpen. Bij de hackathon en care-athon van
          Sint-Oda
          heb ik deze passie kunnen uitoefenen om een prototype en een volledig werkende game af te leveren. Deze games
          zijn
          speciaal aangepast en geoptimaliseerd voor mensen met een verstandelijke en motorische beperking. Tijdens de
          busIT-week in Denemarken werkte ik in een internationaal en multidisciplinair team, waarmee het lukte om in
          een
          paar
          dagen een werkend prototype af te leveren aan de opdrachtgever.
          Bij de CoderDojo op iSpace mocht ik kinderen helpen om te starten met programmeren. Zo was er iemand die op
          Scratch
          een kat een bepaalde beweging wou laten maken, dit lukte maar de kat deed dit slechts één keer. Ik liet haar
          kennis
          maken met de lus, die de code oneindig blijft uitvoeren, waardoor de kat diezelfde beweging blijft maken. Dit
          deed
          me denken aan toen ik pas begon met programmeren, daarmee was de cirkel rond.
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
