<mat-toolbar color="warn">
  <div class="toolbar-link">
    <button mat-button [routerLink]="['/']" routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{exact:true}">Home</button>
    <button mat-button [routerLink]="['/activiteiten']" routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{exact:true}">I-Talent activiteiten</button>
    <button mat-button [routerLink]="['/eindreflectie']" routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{exact:true}">Mijn eindreflectie</button>
    <button mat-button [routerLink]="['/contact']" routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{exact:true}">Contact</button>
  </div>
</mat-toolbar>
