<div class="container-center-column">
  <div class="header">
    <teximate class="textAnimation" [text]="text" [enter]="letsTalksAnimation"></teximate>
  </div>

  <div class="container-center">
    <div class="container-center-element">
      <a href="https://be.linkedin.com/in/jeffrey-vanelderen" target="__blank"><img class="icon"
          src="assets/icons/linkedin-icon.png"></a>
    </div>
    <div class="container-center-element">
      <a href="https://www.instagram.com/jeffreyvanelderen/" target="__blank"><img class="icon"
          src="assets/icons/instagram-icon.png">
      </a>
    </div>
    <div class="container-center-element">
      <a href="https://www.facebook.com/jeffreyvanelderen/" target="__blank"><img class="icon"
          src="assets/icons/facebook-icon.png">
      </a>
    </div>
  </div>

</div>
