<div class="container-center-column">

  <h1>
    <teximate class="textAnimation" [text]="text" [enter]="letsTalkAnimation">
    </teximate>
  </h1>

  <div class="container-center">
    <div class="container-center-element">
      <a href="https://be.linkedin.com/in/jeffrey-vanelderen" target="__blank"><img class="icon"
          src="assets/icons/linkedin-icon.png"></a>
    </div>
    <div class="container-center-element">
      <a href="https://www.instagram.com/jeffreyvanelderen/" target="__blank"><img class="icon"
          src="assets/icons/instagram-icon.png">
      </a>
    </div>
    <div class="container-center-element">
      <a href="https://www.facebook.com/jeffreyvanelderen/" target="__blank"><img class="icon"
          src="assets/icons/facebook-icon.png">
      </a>
    </div>
  </div>

  <div class="container-center">
    <div class="container-center-column">
      <h2>
        Jeffrey Vanelderen
      </h2>
      <h3>
        Alken, België
      </h3>
      <h3>
        jeffrey.vanelderen@gmail.com
      </h3>
    </div>
  </div>

</div>
