<div class="header">
  <h1>Innovatieroute Artificiële intelligentie</h1>
</div>

<div class="container-center">
  <mat-card class="verslag">
    <mat-card-content>
      <div>
        <p>
          De innovatieroute is een mogelijkheid voor PXL-studenten om zich te verdiepen in een gekozen onderwerp. Zo’n
          route duurt drie dagen en kan gaan over onderwerpen zoals AI, AR/VR, Blockchain, UI/UX, Cloud, Security en Big
          Data. Ik koos het onderwerp AI dat georganiseerd werd door Brainjar en ACA IT-Solutions. De ontwikkelaars
          gaven eerst informatie en indien mogelijk een demo over een bepaald onderwerp, waarna de praktijk in
          oefeningen toegepast kon worden. De meeste studenten die deze innovatieroute kozen, zaten in de
          afstudeerrichting Artificiële Intelligentie.
          Na elk stukje theorie kregen we de kans om zelf modellen te maken. Op de eerste dag werd een Deep
          Learning-model gemaakt met Keras waarna de in en outs van Deep Learning besproken werden. Daarnaast
          informeerden ze ons over wat re-enforced learning wel is en wat het niet is. Er werd ook een lijst van handige
          AI-API’s besproken aangezien er al veel API’s beschikbaar zijn. Tijdens de laatste dag kregen we uitleg over
          de AI-services van Amazon.
        </p>
        <p>
          Bij de eerste opdracht was er een AI-model nodig dat met camera’s Lego-blokjes kan sorteren. Aan de hand van
          een foto moet het model kunnen herkennen welk type blokje er op de foto staat. Hierna kregen we uitleg over de
          Forsyth-Edwards Notation, dit is een standaard voor het beschrijven van alle speelstukken op een schaakbord.
          De notatie wordt in de werkelijkheid gebruikt om schaakspellen van een bepaalde situatie terug te laten
          starten na een onderbreking. We kregen de kans om een AI-model te maken dat aan de hand van een foto, genomen
          van de bovenkant, deze notatie genereert.
          Naast de Computer Vision-opdrachten, waren er ook Natural Language Processing-taken. Zo moest er bijvoorbeeld
          een model gemaakt worden dat sarcasme in geschreven taal herkent. Dit is niet zo makkelijk te herkennen als in
          gesproken taal. Het tweede NLP-model moest in staat zijn om spoilers te vinden in reviews op sites zoals IMDb.
          Het is onmogelijk om supervised AI-modellen te maken zonder een grote hoeveelheid correcte data, alle
          gebruikte datasets voor het maken van deze modellen waren beschikbaar op de site genaamd Kaggle.
        </p>
        <div class="container-center">
          <img class="photo" (click)="showImage('assets/verslagen/ai-legomodel.png')" src="assets/verslagen/ai-legomodel.png" style="width: 50%;">
        </div>
        <p>
          De modellen hadden een accuraatheid tussen 70% en 98%. Aan de hand van verschillende technieken kan de
          accuraatheid verhoogd worden, maar het is belangrijk om het model niet te “overfitten”. Dit gebeurt wanneer
          het model te vaak getraind wordt op eenzelfde dataset. Deze heeft dan een lage accuraatheid bij het analyseren
          van nieuwe data. Om de beschikbare data wel zo nuttig mogelijk te gebruiken, kunnen afbeeldingen omgedraaid,
          gespiegeld en gekanteld worden.
          Op de laatste dag werd er informatie gegeven over de geschiedenis van AI en de AI-services van Amazon. AWS
          Machine Learning heeft verschillende services zoals Polly, Rekognition en Lex die vanuit een backend
          aangesproken kunnen worden. Tom Van Wemmel vertelde dat er tussen 1950 en 1980 al interesse was in AI, waarna
          Machine Learning en tegenwoordig Deep Learning de grootste spelmakers zijn. Een voorbeeld van één van de
          eerste AI-applicaties is de Hotdog-app die aan de hand van de smartphonecamera analyseert of een bepaald
          object een hotdog is of niet.
        </p>
        <div class="container-center">
          <img class="photo" (click)="showImage('assets/verslagen/ai-hotdogapp.png')" src="assets/verslagen/ai-hotdogapp.png" style="width: 40%;">
        </div>
        <p>
          De theorie van de innovatieroute was zeer interessant. Bepaalde foute veronderstellingen werden uit de doeken
          gedaan en we kregen inzicht over de functie van AI in de toekomst. Daarnaast maakte ik kennis met
          verschillende AI-platformen zoals OpenAI van Elon Musk en de AWS-services. Persoonlijk vond ik het
          interessanter als er een oefening was waar het gebouwde AI-model raadpleegbaar moest zijn via een webapp
          gemaakt met Angular. Dit zou de brug vormen tussen de twee afstudeerrichtingen.
          Sommige oefeningen waren niet altijd even gemakkelijk aangezien ik nooit echt les kreeg over AI en Python.
          Hierdoor heb ik aan twee studenten van de AI-afstudeerrichting gevraagd of we in groep konden samenwerken. De
          oefeningen verliepen beter aangezien ik nu steeds uitleg kon vragen aan de twee andere studenten. Hierdoor
          leerde ik bepaalde trainingstechnieken en AI-termen kennen, het was dus een goede keuze om niet alleen verder
          te werken.
        </p>
        <p>
          Ik vond het vooral goed dat de ontwikkelaars van Brainjar eerlijk waren over het wel of niet gebruiken van AI.
          Zo vertelden ze dat er enkel naar AI gegrepen moet worden wanneer iets niet geprogrammeerd kan worden met if
          else statements. Bovendien is er bij Machine Learning altijd een grote hoeveelheid data nodig, deze data
          verkrijgen en klaarmaken is zeer tijdrovend.
          Deze innovatieroute zorgde ervoor dat ik als applicatieontwikkelaar een paar dagen kennis kon maken met een
          ander veld in IT. Naast de complexe theorieën achter AI heb ik ook veel bijgeleerd van de andere
          PXL-collega’s. Ik heb zelf modellen leren trainen en geprobeerd ze een zo hoog mogelijke accuraatheid te
          geven.
        </p>

      </div>
    </mat-card-content>
  </mat-card>
</div>
