/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#background {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.textAnimation {
  font-size: large;
}

.toolbar-link {
  display: flex;
  width: 100%;
  justify-content: center;
}

#bigimage {
  width: 30%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 10px 10px #f44336;
  margin-right: 20px;
}

.verslag {
  width: 80%;
}

.icon {
  width: 40px;
  height: 40px;
}

.caption {
  color:  #f44336;
  font-size: small;
}

.router-link-active {
  color: black;
  font-weight: bolder;
}

.semi {
  max-width: 50%;
}

.graybackground {
  background-color: darkgray;
}

.container {
  display: flex;

  &-center {
    display: flex;
    margin-top: 5px;
    justify-content: center;

    &-column {
			display: flex;
			flex-direction: column;
      align-items: center;
    }
  }
}

.photo {
  display: flex;
  border-radius: 10px;
  margin: 5px;
  width: 20%;
  height: 40%;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-element {
    margin: 10px;
    width: 40%;

    &-section {
      border-bottom: 0.5px dotted white;
      padding: 2px;
    }
  }
}

.header {
  display: flex;
  margin: 5px;
  justify-content: center;
  h1 {
    font-size: xx-large;
    text-shadow: 1px 1px #f44336;
  }
}

p {
  text-align: justify;
}

th {
  font-weight: bold;
  color: red;
  border-right: 0.5px dotted white;
  border-bottom: 0.5px dotted white;
}

td {
  border-right: 0.5px dotted white;
  text-align: center;
}

td, th {
  padding: 5px;
}

a {
  color: #f44336
}

@media only screen and (max-width: 600px) {

  #background {
    display: none;
  }

  // home
  .semi {
    margin-top: 20px;
    min-width: 95%;
  }

  .container-center {
    min-width: 95%;
    flex-wrap: wrap;
  }

  #bigimage {
    width: 60%;
  }

  // i-talent activities
  .wrap {
    &-element {
      width: 95%;
    }
  }

  .photo {
    width: 60%;
    height: 80%;
  }

  // toolbar
  mat-toolbar {
    min-height: 30%;

    .toolbar-link {
      width: 100%;
      flex-wrap: wrap;
     button {
      width: 100%;
    }
  }
  }

  // table
	table, thead, tbody, th, td, tr {
		display: block;
  }

  #hoursCard {
    max-width: 100%;;
  }

  #hoursTable {
    min-width: 100%;
  }

  th {
    display: none;
  }

  thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
    border: none;
    text-align: left;
		position: relative;
		padding-left: 90%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "Internationalisering"; }
	td:nth-of-type(2):before { content: "Seminaries"; }
	td:nth-of-type(3):before { content: "Innovatie"; }
	td:nth-of-type(4):before { content: "Persoonlijke ontwikkeling"; }
	td:nth-of-type(5):before { content: "Student engagement"; }
	td:nth-of-type(6):before { content: "Totaal"; }

}
