/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#background {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.textAnimation {
  font-size: large;
}

.toolbar-link {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon {
  width: 40px;
  height: 40px;
}

.router-link-active {
  color: black;
  font-weight: bolder;
}

.container {
  display: flex;

  &-center {
    display: flex;
    margin-top: 5px;
    justify-content: center;

    &-column {
			display: flex;
			flex-direction: column;
      align-items: center;
    }

    mat-card {
      width: 70%;
    }
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-element {
    margin: 10px;
    max-width: 40%;

    &-section {
      border-bottom: 0.5px dotted white;
      padding: 2px;
    }
  }
}

.header {
  display: flex;
  margin: 2.5px;
  justify-content: center;
  h1 {
    font-size: xx-large;
  }
}
