<div class="header">
  <h1> 
    Wie ben ik?
  </h1>
</div>

<div class="container-center">
  <img id="bigimage" src="assets/jeffreyvanelderen.jpg">
  <div class="semi">
    <mat-card>
      <mat-card-content>
        <p>
          Mijn naam is Jeffrey Vanelderen, ik ben 20 jaar oud en zit in mijn laatste jaar Toegepaste Informatica -
          Applicatieontwikkeling op de PXL. In het middelbaar studeerde ik Sociale en Technische Wetenschappen. Ik woon
          in
          Alken met mijn moeder en mijn broer. Mijn vrije tijd besteed ik het liefst aan rondreizen, wandelingen maken
          in
          de natuur, muziek beluisteren, motorrijden en natuurlijk ook softwareoplossingen bouwen.
        </p>
        <p>
          Het maken van die softwareoplossingen loopt niet altijd zonder moeilijkheden, deze probeer ik met een
          pragmatische invalshoek te behandelen. Dit betekent dat ik oplossingsgericht denk en niet te veel tijd wil
          steken in het grondig analyseren van een probleem. Om tijdsverspilling te vermijden, moet ik de situatie wel
          goed begrijpen voor ik begin met programmeren. Daarnaast kan ik vlot beslissingen nemen en snel op wijzigingen
          inspelen zonder de juiste methodes over het hoofd te zien.
        </p>
        <p>
          Aangezien ik pas programmeer sinds ik startte met de richting, zie ik mezelf als iemand die nog veel te leren
          heeft. De leercurve die ik heb gemaakt in de voorbije drie jaar was steil, maar niet onoverwinnelijk. In de
          toekomst hoop ik mijn kennis te vergroten, waardoor ik de kans krijg om aan belangrijke projecten mee te
          werken.
          Ik zou graag meewerken aan een product dat andere mensen kan helpen in het dagelijks leven.
        </p>
        <p>
          Ik ben graag goed in iets en ik probeer vaak het beste resultaat te behalen. Hierdoor werk ik graag samen met
          andere mensen die hetzelfde doel voor ogen hebben. In een team werken vind ik leuk en vooral tijdens pair
          programming leer ik veel bij. Dit laatste is essentieel wanneer er een oplossing gezocht wordt voor een
          moeilijk
          probleem, of wanneer het exacte probleem nog gevonden moet worden. Voor mij persoonlijk is een leuke en losse
          teamsfeer onmisbaar.
        </p>
        <p>
          Op het moment van schrijven kan ik: native Android-applicaties bouwen, C#, Xamarin, UWP, Java, Spring Boot,
          Kotlin, Angular, JavaScript, TypeScript, PL/SQL, Python, Linux (-Server), Windows (-Server), MongoDB, PHP en
          NodeJS. Graag wil ik meer kennis vergaren van Docker, Spring Boot, Angular en ReactJS. Het eerste doel dat ik
          voor ogen heb is mijn stageopdracht succesvol afronden. Ook probeer ik met onderscheiding af te studeren.
          Nadat
          ik afgestudeerd ben, wil ik waarschijnlijk verder studeren omdat ik het gevoel heb dat er nog veel is dat ik
          kan
          bijleren.
        </p>
        <a href="assets/jeffreyvanelderen_portfolio.docx" target="__new" >Portfolio als Word-document downloaden?</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
